@tailwind base;
@tailwind components;
@tailwind utilities;

.burger {
  cursor: pointer;
}

.navbar-toggler {
  @apply p-0 border-none;
}

.burger > div {
  @apply bg-white w-6 h-[3px] m-[5px];
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
